ul {
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0abab5;
  }
  
  li {
    float: left;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #0abab5;
  }
  
  .active {
    background-color: #0abab5;
  }

.icon-img{
    width: 30px;
    height: 30px;
}

.icon {
    position: relative;
    display: inline-block;
    color: white;
}

li .hover-hint {
    visibility: hidden;
    width: 60px;
    background-color: #0abab5;
    border-radius: 10%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -30px;
    height: 30px;
    
  
    opacity: 0;
    transition: opacity 1s;
}

li:hover .hover-hint {
    visibility: visible;
    opacity: 1;
    font-size: 6px;
    padding-bottom: 2px;
}