.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70vw;
  margin: auto;
}

.background-image{
    height: 300px;
    animation-name:oxxo;
    animation-duration:2s;
}

@keyframes oxxo{
  from{
      left:0;
  }
  to{
      left:100px;
  }
}